*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}


/*INDEX*/ 

.novedades{
 position:relative;
    color: white;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    margin: 0%;

    grid-area: 1;
    }

 .content-box{
    box-sizing: content-box;
    width: 450px;       
 }


.top-left{ 
    grid-area: 1 / 1 / 2 / 3;
    position: absolute;
       font-family: 'Montserrat', sans-serif;
       font-size: 2.5rem;
       top: 20rem;
       left: 2rem;       
}

.animate__fadeIn{
    transition: all 2s;
}

.bottom-left{ 
    grid-area: 2 / 1 / 3 / 3; 
    position: absolute;
    bottom: 8.5rem;
    left: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9rem;
}

.bottom-left2 { 
    grid-area: 3 / 1 / 4 / 2; 
    position: absolute;
    bottom: 125px;
    left: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;   
}
.bottom-left3{ 
    grid-area: 3 / 2 / 4 / 3; 
    padding: 1.1rem;
    margin-top: 1rem;
}


.remerasinicio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.remeras{
    width: 250px;
    height: 150px;
}


/*QUIENES SOMOS*/

.quienessomost{
    font-family:'Montserrat', sans-serif ;
    text-align: center;
    font-size: 70px;
}
.textoquienessomos{
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}
.reunion{
    font-family: 'Montserrat', sans-serif;
text-align: left;
margin: 50px;
font-size: 50px;
}
.textoreunion{
    font-family: 'Montserrat', sans-serif;
text-align: left;
margin: 50px;
font-size: 20px;
}

   /*grid/*/

.somoscontenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    align-content: stretch;
}
.card{
    display: grid;
}


/*cartas*/

body{
    background-color: white;
}
* {
    box-sizing: border-box;
}
.card{
    margin: 20px;
    box-shadow: 0px 1px 5px rgb(209, 204, 204);
    background-color: white;
}

.card__description{
    padding: .5rem;
    line-height: 1.6em;
    align-items: center;
}
img {
    max-width: 100%;
}


/*Proyecto*/

.footer{
    background-image: linear-gradient(white , rgb(209, 207, 207));
    color: rgb(56, 55, 55);
    font-family:'Montserrat', sans-serif ;
    text-align: center;
    width: 100vw;
    height: auto;

}
.titulos{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.subtitulos{
    font-family: 'Montserrat', sans-serif;
}
.proyectot{
    font-family:'Montserrat', sans-serif ;
    text-align: center;
    font-size: 5rem;
}
.proyectovideo{
    position: relative;   
}
.textoproyecto{
    margin: 10rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1rem;
}
.form{
    width: 350px;
    margin-top: 80px;
    align-items: center;
    padding: 10px 0px;
    box-sizing: border-box;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    align-items: center;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 7px;
    cursor: pointer;
    width: 20%;
    align-items: center;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 30px;
    margin: 30px;
    display: block;
    align-items: center;
  }



 