.loquehacemoscomprar{
    margin-top: 6rem;
    padding: 1rem;
    font-family:'Montserrat', sans-serif ;
    text-align: center;
    font-size: 5rem;
}

.textocomprar{
    margin-top: 0.5em;
    margin-left: 5.5em;
    margin-right: 5.5em;
    margin-bottom: 2em;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: $letraoscura;
    font-size: 1.2rem;
    }
 
     .comprar{
        display: grid;
        grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
        grid-gap: 40px;
        padding: 60px 0;
      }
      
      .cards {
        grid-column: 2 / span 12;
        display: grid;
        grid-template-columns: repeat(12, minmax(auto, 60px));
        grid-gap: 40px;
      }
      
      .card {
        grid-column-end: span 4;
        display: flex;
        flex-direction: column;
        background-color: #cfcfcf;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      
      .card:hover {
        transform: translateY(-7px);
      }
      
      .card__image-container {
        width: 100%;
        padding-top: 56.25%;
        overflow: hidden;
        position: relative;
      }
      
      .card__image-container img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .card__content {
        padding: 20px;
      }
      
      .card__title {
        margin-bottom: 20px;
      }
      
      .card__info {
        display: flex;
        align-self: end;
        align-items: center;
      }
      
      .card__price {
        margin-left: auto;
        padding: 5px 20px;
        background-color: #303032;
        border-radius: 20px;
      }
      
      @media only screen and (max-width: 1000px) {
        .card {
          grid-column-end: span 6;
        }
      }
      
      @media only screen and (max-width: 700px) {
        main {
          grid-gap: 20px;
        }
        .card {
          grid-column-end: span 12;
        }
      }
      
      @media only screen and (max-width: 500px) {
        main {
          grid-template-columns: 10px repeat(6, 1fr) 10px;
          grid-gap: 10px;
        }
        .cards {
          grid-column: 2 / span 6;
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 20px;
        }
        .card {
          grid-column-end: span 6;
        }
      }
          